li {
  cursor: pointer;
}

li:hover {
  opacity: 0.8;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.list-group-item {
  cursor: pointer;
  padding: 8px 7px;
  border: none;

  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.list-group-item:hover {
  background-color: #f4f4f4;
  font-weight: 600;
}

.list-group-item span {
  font-size: 17;
  max-width: 180px;
  width: 100%;
}

/* Стили для подменю */
.submenu {
  background-color: #fdfdfd;

  border-radius: 5px;

  display: none;
}

.submenu ul {
  list-style-type: none;
  padding: 6px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.submenu ul li {
  font-size: 14px;
  padding-top: 12px;
  color: #555;
  transition: color 0.3s ease;
  font-weight: 300;
  cursor: pointer;
}

/* .submenu ul li:hover {
    color: #007bff;
} */

.submenu {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  line-height: 21.34px;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 0;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu-ul.brands {
  padding-right: 20px;
}

.submenu-ul {
  padding: 0;
}

.submenu-ul.right ul li {
  padding-bottom: 18px;
  padding-top: 0;
}

.submenu-ul.right ul {
  padding: 0;
}

.hidden {
  display: none;
}

.show-more {
  font-weight: 400;
  text-decoration: underline;
}

.submenu-ul.brands ul {
  justify-content: space-between;
}

.visible {
  display: block;
}

.container-mobile {
  display: none;
  max-height: 653px;
  font-size: 17px;
}

@media (max-width: 1024px) {
  .menu-item-mobile {
    position: relative;
  
    height: 100%;
    background-color: #fff;
    

  }

  .menu-item-mobile span {
    max-width: 222px;
    width: 100%;
    padding-right: 14px;
  }

  .menu {
    display: none;

  }

  .container-mobile {
    display: block;
  }

  .container-mobile {


  }

  .menu-mobile {
    width: 100%;
    background-color: #fff;
    transition: transform 0.3s ease;
    width: 200vw;
   
  }

  .menu-mobile-main {
    display: flex;
    flex-direction: column;
    width: 100vw;

  }

  .mobile-button {
    all: unset; /* Сбрасывает все стили кнопки */
    background: none; /* Убирает фон */
    border: none; /* Убирает границу */
    padding: 12px 20px;
    
    margin: 0; /* Убирает внешние отступы */
    font: inherit; /* Наследует шрифт от родителя */
    text-align: inherit; /* Наследует выравнивание текста */
    cursor: pointer;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    list-style-type: none; /* Убирает маркеры у списка внутри .sub-menu */
    padding: 0; /* Убирает отступы у списка */
    margin: 0; /* Убирает внешние отступы */
  }

  li {
    padding: 12px 20px;
    border-top: 1px solid #CACACA;
  }

  .sub-menu-container {
    background-color: #fff;
    width: 100vw;
  }

  .sub-menu ul {
    list-style-type: none; /* Убирает маркеры у списка внутри .sub-menu */
    padding: 0; /* Убирает отступы у списка */
    margin: 0; /* Убирает внешние отступы */
  }
}
